option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fitness/wsgi.py:application
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fitness.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fitness.settings
option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: fitness.wsgi:application
    NumProcesses: 1
    NumThreads: 15
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: fitness.settings
